body {
    
    font-family: 'Playfair Display', serif;
    /* FUENTE */
    max-width: 900px;
    /* ANCHO MAX */
    margin: 0 auto;
    /* MARGEN */
}
h1{
    text-align: center;
}
nav{
    width: 100%;
    height: 70px;
    background-color:#B2DFDB;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0,8s all;
    padding: 18px 20px;
}
nav ul li:hover{
background-color: #009688;
}

nav ul{
    padding-bottom: 5px; /* INSERVIBLE */
    display: inline-flex;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
h2, figure, ul{
    margin: 0;
}
img{ 
    max-width: 100%;
}
.seccion1{
    background-color: #BDBDBD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
 }

.video{
    width: 40%;
    padding:12px ;
    display: flex;
  
 }
.texto{
    width: 30%;
    padding: 8px;
    vertical-align: top;
    margin: 10px;
 }
article{
    margin: 0px;
    padding-top: 17px;
    background-color: #009688;
    
   
 }

article h2{
border-bottom: 1px solid black;
text-align: center;
padding-bottom: 3px;


 }

 .texto, .video{
    display: inline-block;
    
}

.texto{
 width: 50%;
 padding-top: 19px; 
 margin: 31px;
}

.texto p{
padding-top: 13px;
margin-bottom: 0px;
}

.section2{
    margin: 1px;
    text-align: center;
    background-color: #BDBDBD;
    padding: 1px;
}
.section{
    text-align: center;
    background-color:#BDBDBD ;
}
#periodico{
    width: 300px;
    height: auto;
}
#economia{
    width: 300px;
    height: auto;
}
#Dólar{
    width: 300px;
    height: auto;
}
@media screen and (max-width:360px){ 
 
    .contenedor{
      width: 100%;
  
  }
  nav{
      width: 100%;
      height: 280px;
      background; color: #BDBDBD;
  
  }
  
  }
  #carouselfinanciero{
    padding-top: 1px; /* ALEJAR */ /* MARGIN PARA RELLENAR */
    margin-top: 12px;
  }
  #carouseleconomico{
    padding-top: 10px; /* ALEJAR */ /* MARGIN PARA RELLENAR */
    margin-top: 12px;
  }
  

footer{
    margin-top: 5px;
    border-top: solid thin #BDBDBD;
    text-align: center;
    background-color: #B2DFDB;
    text-decoration-color: aliceblue;

}
.f-content{
     width: 40%;
     padding-top: 40px;
     
}

footer form{
    padding-top: 40px;
    margin-top: 5px;
    background-color: #B2DFDB;
}
 h3{
    color: white;
    

}


{}
{

}
